{% extends "_base.htm"%}
{% block title %}
	About Me
{% endblock %}
{% block col_left %}
			<h2> About Me</h2>	

			<p>
				I'm currently a senior in the University of Michigan's Informatics program, 
				declared as a social computing major. As taken from the Informatics website: <br/> <br/>
				"Informatics combines solid grounding in computer programming, mathematics, and statistics, 
				combined with study of the ethical and social science aspects of complex information systems. 
				Informatics majors learn to critically analyze various approaches to processing 
				information and develop skills 
				to design, implement, and evaluate the next generation of information technology tools." <br/><br/>
				
				I was section leader of the Michigan Marching Band's Trombone Section for the 2010-2011 season,
				am a 3rd year member of the 
				Men's Basketball Band, and a computer consultant working part time
				at the university's school of education. In my free time, I like to play soccer, write a bit of code, and read up on the latest tech news. However, I always manage to find the time to watch my fair share of foreign flicks and clock in some hours playing video games<br/> <br/>
				
				This website was created for SI 539 - Design of Complex websites. It is written in a mix of python, HTML, CSS, and javascript. 


			</p>
{% endblock %}