{% extends "_base.htm"%}
{% block title %}
	Ryuta's E-Portfolio
{% endblock %}
{% block content %}
	<!--		<h2> This was a triumph</h2>	
			<img src="/static/portal-cake.jpg" alt="cake" />
			<p>
				I'm making a note here, huge success. From the internet:
			</p>
			
-->



		{% block col_left%}

			<div id="welcome">
				<h2>You're still here?</h2>
				<p>
					I'm messing around with CSS on my site built on the Google App Engine framework.
				</p>
			</div><!--end welcome-->
			<div id="center">
			
			<div id="about_me">
				<h3>About Me</h3>
				<p>
					I'm just a simple man with great dreams of glory. I once fought a bear with my own two hands and bested
					it within 4 and a half minutes. Soon afterwards, we went out for beers.
				</p>
				<p><a href="about.htm" title="Continue Reading">Continue Reading &raquo;</a></p>
			</div>
			
			<div id="robotics">
				<h3>Laws of robotics</h3>
				<ul>
					<li>A robot may not harm humanity, or, by inaction, allow humanity to come to harm.</li>
					<li>A robot may not injure a human being or, through inaction, allow a human being to come to harm.</li>
					<li>A robot must obey any orders given to it by human beings, except where such orders would conflict with the First Law.</li>
					<li>A robot must protect its own existence as long as such protection does not conflict with the First or Second Law.</li>
				</ul>
				<p><a href="index.html" title="Continue Reading">Continue Reading &raquo;</a></p>
			</div>
			
			<div id="skills">
				<h3>Skills</h3>
					<ul>
						<li>Usability Testing</li>
						<li>Object-Oriented Programming</li>
						<li>Statistics and Data Analysis</li>
						<li>Web development and Database Design</li>
						<li>Ability to Play Trombone</li>
					</ul>
					<p><a href="index.html" title="Continue Reading">Continue Reading &raquo;</a></p>
			</div>
			<div style="clear:both;"></div>
			
			</div>
			<div id="quote">
			<p><span class="quote">&ldquo; </span> That's what <span class="quote">&rdquo;</span></p>
			<p class="testimonial">- She</p>
			</div>

		
		{% endblock %}

			
		{% endblock %}