{% extends "_base.htm"%}
{% block title %}
	Pictures
{% endblock %}
{% block col_left %}
			<h2> Snapshots of College</h2>
			<p> This is a picture of me from freshman year at the msu game</p>
			<img src="/static/mepregame.png" width="300" height = " 229" alt="mepregame" />
			
			<p><br>  One day in february, some friends and I built a snowman out on elbel field. He wasn't the greatest goalie, but the ground was slippery after all.</p>
			<img src="/static/snowman.jpg" width = "300" height ="400"
			alt="snowman" />
		
			</p>
			<p><br> Here's a picture of my housemates and Mark.	</p>
			<img src="/static/northjeff.jpg" width="500" height="331" alt="northjeff" />


{% endblock %}
