{% extends "_base.htm"%}
{% block title %}
	Storytime
{% endblock %}
{% block col_left %}
	<h2> The Stranger </h2>

<p>
I grew up in a well-off family and I acted out a lot. Getting into trouble with the authorities and shit like that. Anyway, I simultaneously knew a lot of people with less money then I had and was, I admit it it, a bit of a stuck-up bitch. Anyway, I met this guy when he shows up to get me out of jail. No, really. Never met him before and he just helps me out of nowhere. Kinda short, dirt poor and from the middle of nowhere but cute enough. Anyway, I was feeling like damaged goods at the time and he hung out with this other cute guy so I stayed with him. His ... I dunno, father figure maybe (his whole family tree was all kinds of confusing. I don't think he even knew who his father was) had been killed recently and I'm a sucker for the whole "vulnerable guy" thing.

Anyway so we're an item and this guy starts to get weird. Like he believes he has supernatural powers and stuff. Says he can control people with his mind (but not me because I'm too strong ) and stuff like that. Claims he can shoot really well and uses one lucky shot as evidence. It was a pretty sweet shot but watching him spray ammo downrange the rest of the time kinda made it a ridiculous claim.

It all ended when we were visiting a friend. We were all set to get some repair work done on the bucket of bolts ride we had and were hoping to be able to just relax for a bit. Turns out our "friend" was more of a backstabbing bastard. That's the last time I drink a Colt 45, let me tell you. So we had to leave only we can't find my guy. We finally find him in the trash with his fucking hand cut off! Even better, he claims he lost it in a fight with his dad and I'm his sister. I hooked up with Han Solo pretty much right after that.
</p>

<p> Source: <a href ="http://www.reddit.com/r/AskReddit/comments/h8xcm/i_hear_a_lot_of_dont_put_your_dick_in_crazy/c1tjgjc" >http://www.reddit.com/r/AskReddit/comments/h8xcm/i_hear_a_lot_of_dont_put_your_dick_in_crazy/c1tjgjc</a>
</p>

{% endblock %}


{% block col_right %}
			<center><img src="/static/snakebox.jpg"  width="200" height = "200"
			alt="snakebox" /></center>
			

{% endblock %}