{% extends "_base.htm"%}
{% block title %}
	Secrets
{% endblock %}
{% block col_left %}
			<h2> Some General Cooking Tips</h2>
			<p> 
			<ul>
<li>When boiling hard- boiled eggs, add a little bit of vinegar to the water. It will make peeling the eggshells much easier. <br />

<li>Place a 'weight', or heavy object like a brick on top of grilled sandwiches for faster, more even browning.<br />

<li>When carrying a piece of cut plastic- wrap across the room, place against your chest and hold it in place with your chin, to prevent clinging.<br />

<li>Add a touch of garlic powder to your tunafish salad. ( Many restaurants do it.)<br />

<li>For an unusual and elegant tomato soup, add a teaspoon of vanilla extract.<br />

<li>If a soup, sauce or stew is over- salted, add some sliced raw potato. It will absorb the excess salt.<br />

<li>When preparing mashed turnips, boil and mash a couple of potatoes along with the turnips. They will cut acidity and add mellowness.<br />

<li>"Pour High". When transfering a liquid from one container to another, always pour high.<br />

<li>Try adding a little bit of lemon juice to romaine leaves before preparing caesar salad.<br />

<li>Do not add oil to pasta water, it makes sauce 'slide' off of the pasta.<br />

<li>Check to make sure you have all needed ingredients, before starting a recipe.<br />

<li>To test the 'doneness' of grilling meat, don't cut into it, releasing the juices, use your gloved- finger to press down on the meat, and feel the amount of tenderness.<br />

<li>A quick and easy Alfredo sauce can be made by combining heavy cream with grated parmesan and / or romano cheese, and reducing.<br />

<li>When making potato salad, cool, or 'shock' the cut, boiled potatoes in the freezer.<br />
</ul>
			</p>

{% endblock %}